<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" id="page5">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="login-slider1" style="width:100%;height:70%;">
      <ion-slide-page id="login-slide24">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h3 id="login-heading1" style="color:#257AED;font-weight:400;text-align:center;" class="sliderText">Tenha o controle de seus gastos na palma da sua mão</h3>
              <div class="spacer" style="width: 320px; height: 25.9896px;"></div>
              <div>
                <img src="img/j6VEV5GaQ7GEK4Z1Tbsa_contato-frente.png" style="display: block; width: 82%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="login-slide25"></ion-slide-page>
      <ion-slide-page id="login-slide26"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 320px; height: 14.9896px;"></div>
    <div id="login-container1" class="row">
      <a ui-sref="autenticacao" id="login-button1" class="button button-positive  button-block login login-btn">Login</a>
    </div>
    <div id="login-container2" class="row">
      <button id="login-button4" class="button button-light  button-block button-outline login invite-btn">Solicitar Convite</button>
    </div>
  </ion-content>
</ion-view>
