<ion-view title="Menu" id="page3" style="background-color:#EEEEEE;">
  <ion-content padding="false" class="has-header">
    <ion-list id="menu-list1">
      <ion-item class="item-icon-left" id="menu-list-item1">
        <i class="icon ion-ios-telephone"></i>Contatar Administrador</ion-item>
      <ion-item class="item-icon-left" id="menu-list-item2">
        <i class="icon ion-help"></i>FAQ</ion-item>
      <ion-item class="item-divider" id="menu-list-item-divider1"> </ion-item>
      <ion-item class="item-icon-left  bloquearCartao" id="menu-list-item3" ng-click="bloquearCartao()">
        <i class="icon ion-locked"></i>Bloqueio Temporário</ion-item>
      <ion-item class="item-divider" id="menu-list-item-divider2"> </ion-item>
      <ion-item class="item-icon-left" id="menu-list-item4" ui-sref="login">
        <i class="icon ion-log-out"></i>Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
