<ion-view title="Minhas Faturas" id="page4">
  <ion-content padding="true" class="has-header">
    <h4 id="minhasFaturas-heading8" style="color:#666666;font-weight:400;text-align:right;">JAN 2017</h4>
    <ion-list id="minhasFaturas-list7">
      <a ui-sref="tabsController.fatura">
        <ion-item class="cartao item-icon-left">
          <i class="icon ion-android-list"></i>
          <b>Gabriel Israel</b>
          <p class="faturaAberta">R$ 22,90</p>
        </ion-item>
      </a>
      <ion-item class="cartao item-icon-left">
        <i class="icon ion-android-list"></i>
        <b>Guilherme Israel</b>
        <p class="faturaAberta">R$ 20,00</p>
      </ion-item>
    </ion-list>
    <h4 id="minhasFaturas-heading9" style="color:#666666;font-weight:400;text-align:right;">DEZ 2016</h4>
    <ion-item class="cartao item-icon-left">
      <i class="icon ion-android-list"></i>
      <b>Gabriel Israel</b>
      <p class="faturaPaga">R$ 50,00</p>
    </ion-item>
    <ion-item class="cartao item-icon-left">
      <i class="icon ion-android-list"></i>
      <b>Guilherme Israel</b>
      <p class="faturaPaga">R$ 70,00</p>
    </ion-item>
  </ion-content>
</ion-view>